
<%= form_with(model: perfil, local: true) do |form| %>
  <% if perfil.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(perfil.errors.count, "error") %> prohibited this produto from being saved:</h2>

      <ul>
        <% produto.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-row">
    <div class="form-group col-md-5">
    <%= form.label :nome_perfil %><br>
    <%= form.text_field :nome_perfil, class: 'form-control' %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-5">
      <div class="actions">
        <%= form.submit 'Salvar', class: 'btn btn-success' %>
      </div>
    </div>
  </div>
<% end %>
