<p id="notice"><%= notice %></p>

<h1>Listando Perfis</h1>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>Perfil</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @perfis.each do |perfil| %>
      <tr>
        <td><%= perfil.nome_perfil %></td>
        <td><%= link_to 'Mostrar', perfils_path(perfil) %></td>
        <td><%= link_to 'Editar', perfils_path(perfil) %></td>
        <td><%= link_to 'Deletar', perfils_path(perfil) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Novo Perfil', new_perfil_path, class: 'btn btn-primary' %>
